<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Calculator_ASMXSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49997/Calculator%20ASMX.asmx"
                binding="basicHttpBinding" bindingConfiguration="Calculator_ASMXSoap"
                contract="Calculator.Calculator_ASMXSoap" name="Calculator_ASMXSoap" />
        </client>
    </system.serviceModel>
</configuration>